{erl_opts, [debug_info]}.
{deps, [
%    {triq,  {git, "git://github.com/krestenkrab/triq.git", "master"}},
%    {edown, ".*", {git, "git://github.com/uwiger/edown.git", "HEAD"}}
]}.

{artifacts, ["priv/i18n_nif.so"]}.
{pre_hooks, [
                  {compile, "c_src/build_deps.sh"}]}.
{plugins, [pc]}.
{provider_hooks, [{post,
                         [{compile, {pc, compile}},
                             {clean, {pc, clean}}
                         ]
}]}.
{so_name, "i18n_nif.so"}.
{port_specs, [
    {"priv/i18n_nif.so", ["c_src/*.c", "c_src/*.cpp"]}
]}.

{port_env, [
             {"CFLAGS",   "-DU_DISABLE_RENAMING=1 $CFLAGS -Wall -O3 -fPIC -I c_src/icu4c/icu4c/sourceistalli18n/include/ -I c_src/include/unicode/"},
             {"CXXFLAGS", "-DU_DISABLE_RENAMING=1 $CXXFLAGS -Wall -O3 -fPIC -I c_src/icu4c/icu4c/sourceistalli18n/include/ -I c_src/include/unicode/"},
             {"LDFLAGS",  "-L/c_src/icu4c/icu4c/sourceistalli18n/lib -licui18n -licuuc -licudata  $LDFLAGS "}

            ]}.
